Source: pyfll
Section: misc
Priority: optional
Maintainer: Kel Modderman <kel@otaku42.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Joaquim Boura <x-un-i@berlios.de>,
 Chris Hildebrandt <slam@aptosid.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.berlios.de/fullstory/pyfll/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/pyfll/trunk/

# No binary packages are currently built from this source
