#!/usr/bin/make -f

override_dh_auto_build:
	dh_auto_build --sourcedirectory=doc --buildsystem=makefile
	dh_auto_build
	
override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=doc --buildsystem=makefile
	dh_auto_clean

%:
	dh $@ --with python2
